{% extends "base.njk" %}

{% block content %}

    <!--Carousel--->
    {% include "partials/carousel.html" %} 

    <!--About Us Section--->
    <section class="site-counter" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h1 class="text-white">{{about.title}}</h1>
            </div>
          </div>
          <div class="col-12">
            <p>{{about.para1}}</p>
            <p>{{about.para2}}</p>
          </div>
        </div>
      </div>
    </section>

    <!--Brands Section--->
    <section class="site-project" id="brands">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title brands-heading" id="#brands-heading">
              <h1>{{portfolio.title}}</h1>
            </div>
          </div>
        </div>
        {% for portfolio in collections.brands %}
        <!-- Image --->
        <div class="row">
          <div class="col-12">
            <a href="{{portfolio.data.page.url}}">
              <img src="{{portfolio.data.img}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{portfolio.data.image_width}}; padding-bottom: 30px;" width="30%" height="auto">
            </a>
          </div>
        </div>
        <!-- Descriptions --->
        <div class="row">
          <div class="col-12">
            <p style="padding-bottom:{{portfolio.data.paragraph_padding}}">{{portfolio.data.text}}</p>
          </div>          
        </div>
        {% endfor %}
    </section>
  
{% endblock %}