{% extends "base.njk" %}

{% block content %}

    <!--Landing Page Section--->
    <section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-hero-content text-center">
              <h6>{{hero.subTitle}}</h6>
              <h1>
                {{hero.title.firstPara}}
                <br>
                {{hero.title.secondPara}}
              </h1>
            </div>
          </div>
        </div>
      </div>
      <a href="#about" class="site-hero-scroll scroll-to">
        <img src="/assets/images/arrow-down.svg" alt="arrow-down" style="height: 40px;">
      </a>
    </section>

    <!--About Us Section--->
    <section class="site-counter" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h1 class="text-white">{{about.title}}</h1>
            </div>
          </div>
          <div class="col-12">
            <p>{{about.para1}}</p>
            <p>{{about.para2}}</p>
          </div>
        </div>
      </div>
    </section>

    <!--Brands Section--->
    <section class="site-project" id="brands">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title brands-heading" id="#brands-heading">
              <h1>{{portfolio.title}}</h1>
              <p>{{portfolio.subtitle}}</p>
            </div>
          </div>
        </div>
        {% for portfolio in collections.portfolios %}
        <!-- Heading --->
        <div class="row">
          <div class="col-12">
            <div class="section-title brand-title" id="#brand-title"><h2>{{portfolio.data.title}}</h2></div>
          </div>
        </div>
        <!-- Image --->
        <div class="row">
          <div class="col-12">
            <img src="{{portfolio.data.img}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{portfolio.data.image_width}}; padding-bottom: 30px;">
          </div>
        </div>
        <!-- Descriptions --->
        <div class="row">
          <div class="col-12">
            <p style="padding-bottom:{{portfolio.data.paragraph_padding}}">{{portfolio.data.text}}</p>
          </div>          
        </div>
        {% endfor %}
    </section>

    <section class="site-testimonial">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                {{testimonials.title}}
              </h2>
              <p>
                {{testimonials.des}} 
              </p>
            </div>
          </div>
          {% for opinion in testimonials.opinion %}
          <div class="col-lg-4 col-md-6">
            <div class="site-testimonial-item">
              <div class="site-testimonial-item-header">
                <div class="thumb">
                  <img src="{{opinion.img}}" alt="user-thumb">
                </div>
                <div class="person">
                  <h5>{{opinion.name}}</h5>
                  <p>{{opinion.dig}}</p>
                </div>
              </div>
              <p class="site-testimonial-item-body">
                {{opinion.comment}}
              </p>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
    </section>
  
{% endblock %}