{% extends "base.njk" %}

{% block content %}

    <section class="site-project-single-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="site-project-single">
              {% if title == "Concept Flooring" %}
                <img src="{{img_brand_page}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{image_width_brand_page}}; padding-bottom: 20px;">
                <div class="site-project-single-description">
                  {{content | safe}}
                </div>
                <!-- Social Media Icons --->
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col">
                  {% for site in social %}
                    <a href="{{site.link}}" style="padding-right: 5px"><img src="{{site.icon}}" width="35" class="social-icon-color"></a>
                  {% endfor %}
                  </div>
                </div>
                <!-- Design box Section --->
                <div class="section-title brand-title" style="margin-bottom: 25px;"><h2>Sub-Brands</h2></div>
                <img src="{{standard_carpets.img}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{standard_carpets.img_width}}; padding-bottom: 20px;">
                <div class="site-project-single-description">
                  <p>{{standard_carpets.text}}</p>
                  <a href="{{page_link}}" class="read-more">Go To Website</a>
                </div>

              {% elseif title == "Hacker" %}
                <img src="{{img_brand_page}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{image_width_brand_page}}; padding-bottom: 5px;">
                <div class="row align-items-center" style="padding-bottom: 15px;">
                  <div class="col no-padding">
                    <img src="{{sub_brand1}}" class="img-fluid image-width center" style="max-width: {{image_width_subbrand}};">
                  </div>
                  <div class="col no-padding">
                    <img src="{{sub_brand2}}" class="img-fluid image-width center" style="max-width: {{image_width_subbrand}};">
                  </div>
                  <div class="col no-padding">
                    <img src="{{sub_brand3}}" class="img-fluid image-width center" style="max-width: {{image_width_subbrand}};">
                  </div></div>
                <div>
                <div class="site-project-single-description">
                  {{content | safe}}
                  <a href="{{page_link}}" class="read-more">Go To Website</a>
                </div>
              {% else %}
                <img src="{{img_brand_page}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{image_width_brand_page}}; padding-bottom: 20px;">
                  <div class="site-project-single-description">
                    {{content | safe}}
                    <a href="{{page_link}}" class="read-more">Go To Website</a>
                  </div>

                <!-- Social Media Icons --->
                  <div class="row" style="margin-bottom: 30px;">
                    <div class="col">
                    {% for site in social %}
                      <a href="{{site.link}}" style="padding-right: 5px"><img src="{{site.icon}}" width="35" class="social-icon-color"></a>
                    {% endfor %}
                    </div>
                  </div>

              {% endif %}

              <!-- Image Section
              <div class="site-project-single-image">
                <img src="{{featureImg1}}" alt="project image">
                <img src="{{featureImg2}}" alt="project image">
              </div>--->

              {% if collections.brands %}
              {% set nextPost = collections.brands | getNextCollectionItem(page) %}
              {% set previousPost = collections.brands | getPreviousCollectionItem(page) %}
              
              <div class="site-project-single-action d-flex justify-content-between">
                {% if previousPost%}
                <a href="{{previousPost.url}}">
                  <img class="rev" src="/assets/images/to-top.svg" alt="next project">
                  <span class="link-area">
                    <span data-text="{{previousPost.data.pagination_title}}">
                      Previous Brand
                    </span>
                  </span>
                </a>
                {% endif %}
                {% if nextPost %}
                <a href="{{nextPost.url}}">
                  <span class="link-area">
                    <span data-text="{{nextPost.data.pagination_title}}">
                      Next Brand
                    </span>
                  </span>
                  <img src="/assets/images/to-top.svg" alt="next project">
                </a> 
                {% endif %} 
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}