{% extends "base.njk" %}

{% block content %}

    <section class="site-project-single-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="site-project-single">
              {% if title == "Concept Flooring" %}
                <img src="{{img_brand_page}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{image_width_brand_page}}; padding-bottom: 20px;">
                <div class="site-project-single-description">
                  {{content | safe}}
                </div>
                <!-- Social Media Icons --->
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col">
                  {% for site in social %}
                    <a href="{{site.link}}" style="padding-right: 5px"><img src="{{site.icon}}" width="35"></a>
                  {% endfor %}
                  </div>
                </div>
                <!-- Design box Section --->
                <div class="section-title brand-title" style="margin-bottom: 25px;"><h2>Sub-Brands</h2></div>
                <img src="{{standard_carpets.img}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{standard_carpets.img_width}}; padding-bottom: 20px;">
                <div class="site-project-single-description">
                  <p>{{standard_carpets.text}}</p>
                  <a href="{{page_link}}" class="read-more">Go To Website</a>
                </div>
                <!--Location--->
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.9097523892433!2d79.85302181435739!3d6.9013957950132525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25961040b4db9%3A0xbc957ecc6088f4d1!2s385%20R.%20A.%20De%20Mel%20Mawatha%2C%20Colombo!5e0!3m2!1sen!2slk!4v1664879559800!5m2!1sen!2slk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
              {% elseif title == "Hacker" %}
                <img src="{{img_brand_page}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{image_width_brand_page}}; padding-bottom: 5px;">
                <div class="row align-items-center" style="padding-bottom: 15px;">
                  <div class="col no-padding">
                    <img src="{{sub_brand1}}" class="img-fluid image-width center" style="max-width: {{image_width_subbrand}};">
                  </div>
                  <div class="col no-padding">
                    <img src="{{sub_brand2}}" class="img-fluid image-width center" style="max-width: {{image_width_subbrand}};">
                  </div>
                  <div class="col no-padding">
                    <img src="{{sub_brand3}}" class="img-fluid image-width center" style="max-width: {{image_width_subbrand}};">
                  </div></div>
                <div>
                <div class="site-project-single-description">
                  {{content | safe}}
                  <a href="{{page_link}}" class="read-more">Go To Website</a>
                </div>
                <!-- Social Media Icons --->
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col">
                  {% for site in social %}
                    <a href="{{site.link}}" style="padding-right: 5px"><img src="{{site.icon}}" width="35"></a>
                  {% endfor %}
                  </div>
                </div>
                <!--Location--->
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15843.030021444922!2d79.8473119!3d6.9195671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa5b78a509d1a6ac!2sHaecker%20Srilanka!5e0!3m2!1sen!2slk!4v1664878945587!5m2!1sen!2slk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

              {% else %}
                <img src="{{img_brand_page}}" alt="project-thumb" class="img-fluid image-width center" style="max-width: {{image_width_brand_page}}; padding-bottom: 20px;">
                  <div class="site-project-single-description">
                    {{content | safe}}
                    <a href="{{page_link}}" class="read-more">Go To Website</a>
                  </div>

                <!-- Social Media Icons --->
                  <div class="row" style="margin-bottom: 30px;">
                    <div class="col">
                    {% for site in social %}
                      <a href="{{site.link}}" style="padding-right: 5px"><img src="{{site.icon}}" width="35"></a>
                    {% endfor %}
                    </div>
                  </div>

                <!--Location--->
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.9097523892433!2d79.85302181435739!3d6.9013957950132525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25961040b4db9%3A0xbc957ecc6088f4d1!2s385%20R.%20A.%20De%20Mel%20Mawatha%2C%20Colombo!5e0!3m2!1sen!2slk!4v1664879559800!5m2!1sen!2slk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
              {% endif %}

              <!-- Image Section
              <div class="site-project-single-image">
                <img src="{{featureImg1}}" alt="project image">
                <img src="{{featureImg2}}" alt="project image">
              </div>--->

              {% if collections.brands %}
              {% set nextPost = collections.brands | getNextCollectionItem(page) %}
              {% set previousPost = collections.brands | getPreviousCollectionItem(page) %}
              
              <div class="site-project-single-action d-flex justify-content-between">
                {% if previousPost%}
                <a href="{{previousPost.url}}">
                  <img class="rev" src="/assets/images/to-top.svg" alt="next project">
                  <span class="link-area">
                    <span data-text="{{previousPost.data.pagination_title}}">
                      Previous Brand
                    </span>
                  </span>
                </a>
                {% endif %}
                {% if nextPost %}
                <a href="{{nextPost.url}}">
                  <span class="link-area">
                    <span data-text="{{nextPost.data.pagination_title}}">
                      Next Brand
                    </span>
                  </span>
                  <img src="/assets/images/to-top.svg" alt="next project">
                </a> 
                {% endif %} 
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}